// Colour scheme

$darkGeen: rgb(70,158,94)
$midGreen: rgb(108,188,131)
$lightGreen: rgb(166,216,179)

$darkGrey: rgb(103,103,102)
$midGrey: rgb(142,144,141)
$lightGrey: rgba(232,234,237,255)

$cream: rgba(254,239,195,255)
$yellow: rgba(250,195,68,255)
$blue: rgb(157,197,245)
$white: rgba(252,252,253,255)


// Breakpoints
$mobile-breakpoint: 640px
$tablet-breakpoint: 768px
// ...
$breakpoints = $mobile-breakpoint, $tablet-breakpoint