<% provide :head_tags do %>
    <script>
        // Load a map once the DOM has loaded
        document.addEventListener("DOMContentLoaded", function(){
            // Centre the map on the halfway location's coordinates
            let halfwayLocation = <%= @meeting.locations.find_by(type: "halfway").to_json %>;
            initMap(halfwayLocation.address.lat, halfwayLocation.address.lng);
        });
    </script>
<% end %>

<div id="map"></div>
