<h1>Search</h1>

<div class="row my-5">
    <div class="col-sm-6">
        <h2>Welcome to Meet Me Halfway!</h2>
        <br>
        <p>Meet Me Halfway is designed to make meeting up with friends, colleagues, or anyone you need to meet in person a breeze. Say goodbye to endless back-and-forth conversations to determine a meeting point, or anyone having to travel more than their fair share. With Meet Me Halfway, you can quickly and efficiently find a central location that minimises travel distance for everyone involved.</p>
    </div>

    <div class="col-sm-6">
        <h2>New Meeting</h2>

        <%= render partial: "meetings/form"  %>
    </div>
</div>
